<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Andesite</title>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="icon" href="/static/polished.png">
    </head>
    <body>
        <div class="blur"></div>
        
        <main>
            <!-- <nav>
    
            </nav> -->
            
            <div id="mainregion">

                <form id="file" action="/upload" method="POST" enctype="multipart/form-data">
                    <div id="files">

                        <label id="upload_file_label">
                            <input id="upload_file" type="file" name="upload_file" />
                            
                            Drop files here...
                        </label>

                    </div>
                    
                    <button id="file_upload_button">
                        Upload
                    </button>

                </form>
                
                
            </div>
        </main>
        <script src="/static/index.js"></script>
    </body>
</html>